*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* @font-face {
    font-family: 'gamergyRev';
    src: url('/fonts/Louis\ George\ Cafe\ Light.ttf');
} */
@font-face {
    font-family: 'gamergyRevBold';
    src: url('/fonts/Louis\ George\ Cafe\ Bold.ttf');
}
html{
    font-family: 'gamergyRevBold';
}
header{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px;
    background-color: rgb(39,185,231);
    color: white;
}
.logo{
    padding: 15px;
}
.logo img{
    height: 100px;
    width: 100px;
}

nav{
    background-color: rgb(217,217,217);
    padding: 10px;
}
nav a{
    text-decoration: none;
    margin: 0 60px auto;
    padding: 10px;
    transition: all 0.5s;
    color:black;
} 
nav a:hover{
    /* background-color: rgba(0, 0, 0,0.2); */
    color: whitesmoke;
    margin: 0 60px auto;
    justify-content: space-evenly;
    transform: scaleX(1.2);
    /*      */
    /* border-radius: 10%; */
    /* padding: 10px; */
}
h1{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.cardContainer{/* Contenedor de las cards(hijos) */
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 10px;

}

.cardContainer .card{
    background-color:rgba(128, 128, 128,0.2);
    padding: 10px;
    width: 100%;
    max-width: 400px;
    overflow: auto;
    transition: all 0.5s;
}
.cardContainer .card:hover{
    background-color:rgba(128, 128, 128,0.6);
    transform: scaleX(1);
}
.cardContainer .content img{
    display: block;
    margin: auto;
    width: 100%;
}
.cardContainer .content h3{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.cardContainer .content p{
    text-align: center;
}
h2{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.newContainer{
    width: 50%;
    background-color:rgba(128, 128, 128,0.2);
    padding: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px auto;
    transition: all 0.5s;
}
.newContainer:hover{
    background-color:rgba(128, 128, 128,0.6);
    transform: scaleX(1);
}
.newContainer .newImg{
    width: 100%;
}
.newContainer .newImg img{
    width: 600px;
}
.newContainer .new{
    display: flex;
    justify-content: center;
    align-content: center;
}
@media screen and (max-width:900px){
    .cardContainer .card{
        flex-direction: column;
    }
}


footer{
    background-color: rgb(39,185,231);
    color: white;
    text-align: center;
}